<?php
$config = new Rshop\CS\Config\Rshop();

$config->setStrict()
    ->setRule('general_phpdoc_annotation_remove', ['annotations' => ['author']])
    ->setRule('native_function_invocation', true)
    ->getFinder()
    ->in(__DIR__);

return $config;